.posting{
    width: 1280px;
    margin:0 auto;
    padding: 50px;
}
.posting ul li{
    list-style: none;
    padding-bottom: 10px;
}
.posting ul li span{
    width: 60px;
    font-weight: bold;
    display: inline-block;
}
.posting .imgbox,
.posting ul{
    display: inline-block;
    vertical-align: middle;
}
.card{
    padding: inherit;

}
.card-img-top{
    width:500px !important;
    height: 400px;
    margin: 0 auto;
}

.card-body{
    margin-top: 30px;
    padding-top: 25px !important;
    border-top: 1px solid #ddd;
}